*{font-family:'Quicksand';color:ghostwhite;size:29px;background-color: peru;text-align:center;font-weight:750}
        
      .nig {word-spacing:1em}
      #x{font-size:29px;word-spacing:1em;font-family:'Quicksand'; color:ghostwhite;font-weight:bold}